.meres button {
	padding:16px 20px;
	margin:5px;
	font-size:15px;
	width:90px;
}

.meres span {
    position: relative;
    background-color: yellow;
    padding: 5px;
    margin: 5px;
    top: -5px;
}
#divallapot,#divgstat,#bAllapotMent {
	/*display:none;*/
}
#bAllapotClose {
    position: absolute;
    top: 184px;
    left: 184px;
    background-color: orange;
    border: solid orange 1px;
    width: 160px;
	color:black;
}
#bAllapotJavitas {
    position: absolute;
    top: 184px;
    left: 357px;
    background-color: yellow;
    border: solid yellow 1px;
    width: 160px;
    color: black;
}
#bAllapotMent {
    position: absolute;
    top: 123px;
    left: 357px;
    width: 160px;
}