button {
/*	background-color:#77b55a;*/
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}

#divheader{
	background-color:yellow;
	height:12px;
	padding:5px;
 }
 
 #divcontent{
	background-color:black;
	height:270px;
	padding:5px;
 }
#tploBeerk {
	padding:5px;
	position:fixed;
	top:5px;
	left:5px;
	right:5px;
}

.divinput {
width: 350px;
    height: 40px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin: 10px auto;
    text-align: center;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}
.divnumbuttons{
	margin:0px auto;
	width:380px;
	height:100px;
}
.bnum,.bbacksp,.blogin {
	padding: 17px;
	background-color:orange;
	color:black;
	font-size:17px;
	font-weight:bold;
	width:70px;
	margin-bottom:5px;
	border:1px solid orange;
}
.divfnbuttons {
	margin:0px auto;
	width:380px;
	height:100px;
	margin-top:16px;
}

.bbacksp,.blogin {
	padding: 15px;
	background-color:yellow;
	font-weight:bold;
	width:180px;
	margin-top:10px;
	border:1px solid yellow;
}
 
 