#divheader{
	background-color:yellow;
	height:12px;
	padding:5px;
 }
 
 #divmenu{
	background-color:black;
	height:100px;
	padding:5px;
	height:270px;
 }
#tplMenu {
	padding:5px;
	position:fixed;
	top:5px;
	left:5px;
	right:5px;
}
#bbeerk {
	padding:20px;
	background-color:orange;
	width:100px;
	margin: 5px auto;
	float:left;
	font-size:14px;
	font-weight:bold;
	border:1px white solid;
}
 