#blogout{
	border:1px solid orange;
	background-color:orange;
	color:black;
}
#divheader{
	background-color:yellow;
	height:12px;
	padding:5px;
 }
 
 #divmenu{
	background-color:black;
	height:100px;
	padding:5px;
	height:270px;
 }
#tplMenu {
	padding:5px;
	position:fixed;
	top:5px;
	left:5px;
	right:5px;
}
