.meres button {
	padding:16px 20px;
	margin:5px;
	font-size:15px;
	width:90px;
}
#bMIND {
    background-color:yellow !important;
}
.bpozicio {
	padding:10px 20px;
	margin:5px;
	font-size:15px;
} 
.bpozicioSelected {
	border:solid orange 4px;
} 

.meres span {
    position: relative;
    background-color: yellow;
    padding: 5px;
    margin: 5px;
    top: -5px;
}
#divallapot,#divgstat,#bAllapotMent {
	display:none;
}
#bAllapotClose {
    position: absolute;
    top: 184px;
    left: 184px;
    background-color: orange;
    border: solid orange 1px;
    width: 160px;
	color:black;
}
#bAllapotJavitas {
    position: absolute;
    top: 184px;
    left: 357px;
    background-color: yellow;
    border: solid yellow 1px;
    width: 160px;
    color: black;
}
#bAllapotMent {
    position: absolute;
    top: 123px;
    left: 357px;
    width: 160px;
}
#bSettings {
    position: absolute;
    top: 181px;
    left: 10px;
    width: 60px;
    background: white;
    padding: 10px;
    height: 53px;}
#divcsok {
	
	width:320px;
	height:130px;
}
.divcb {
	padding:5px;
	background-color:white;
	width:52px;
	float:left;
	height:30px;
	text-align:center;
}
.divcb input {

	height:30px;
    vertical-align:middle;
}	
.divgcsok {
	display:none;
}	
.divgcsok select{
	width:312px;
}
#labelcsok {
	width:45px;
	height:30px;
	padding:5px;
	float:left;
	background-color:yellow;
	margin-right:9px;
	text-align:center
}