 
#divheader{
	background-color:yellow;
	height:20px;
	padding:5px;
 }
 
 #divcontent{
	background-color:orange;
	height:200px;
	padding:5px;
 }
#tploBeerk {
	padding:10px;
	position:fixed;
	top:40px;
	left:20px;
	right:20px;
}
.tmibizlist td { 
	padding:5px;
	background-color:white;
} 
#divpanel {
	display:none;
}
#rendszam {
	padding:5px;
	font-size: 20px;
}
.ddrbvart, .ddrbkesz{
	padding:10px;
	width:95px;
	text-align:center;
	margin:5px auto;
}
.ddrbvart{
	background-color:yellow;
	float:left;
	
}
.ddrbkesz {
	background-color:lightgreen;
	float:right;
}
.rszadatok {
	display:none;
}
.dbutton {
clear:both;
}

