#divheader{
	background-color:yellow;
	height:20px;
	padding:5px;
 }
 
 #divcontent{
	background-color:orange;
	height:100px;
	padding:5px;
 }
#tploBeerk {
	padding:10px;
	position:fixed;
	top:40px;
	left:20px;
	right:20px;

}
 