 
#divheader{
	background-color:yellow;
	height:20px;
	padding:5px;
 }
 
 #divcontent{
	background-color:orange;
	height:250px;
	padding:5px;
 }
#tploBeerk {
	padding:10px;
	position:fixed;
	top:40px;
	left:20px;
	right:20px;
}
.tmibizlist td { 
	padding:20px;
	background-color:white;
} 
#divpanel {
	display:none;
}
#rendszam {
	padding:15px;
	font-size: 20px;
}
.ddrbvart, .ddrbkesz{
	padding:10px;
	width:100px;
	text-align:center;
	margin:5px auto;
	float:left;
}
.ddrbvart{
	background-color:yellow;
}
.ddrbkesz {
	background-color:lightgreen;
	font-weight:bold;
}
.rszadatok {
	display:none;
}
.dButtons {
clear:both;
}
.dButtons button {
	padding:15px;
} 

