#divpanel {
	display:none;
}
#divclick {
	position:fixed;
	top:0px;
	left:0px;
	height:1000px;
	width:1000px;
	display:none;
	z-index:999;
	opacity:0;
}
#divheader{
	background-color:yellow;
	height:12px;
	padding:5px;
 }
 
 #divcontent{
	background-color:black;
	height:270px;
	padding:5px;
 }
#tploBeerk {
	padding:5px;
	position:fixed;
	top:5px;
	left:5px;
	right:5px;
}

#labelrendszam {
	margin:2px 0px;
	padding:10px 15px;
	font-size: 20px;
	color:white;
}

.divlabels {
    top: 86px;
    left: 86px;
    width: 300px;
    text-align: center;
    position: absolute;
}
.ddrbvart, .ddrbkesz, .ddrbfegu {
	padding:5px;
	width:40%;
	margin:5px 2px;
	vertical-align:middle;
}
.ddrbvart{
	background-color:yellow;
	left:0px;
    position: absolute;	
}
.ddrbkesz {
	background-color:lightgreen;
	left:136px;
    position: absolute;	
}
.ddrbfegu{
	background-color:white;
	left:272px;
    position: absolute;	
}
.dataDrbVart, .dataDrbKesz,.dataDrbFEGU{
	font-size:17px;
	font-weight:bold;
	padding:0px 10px;
}
.rszadatok {
	display:none;
	position:fixed;
	top:38px;
	left:135px;
	line-height:20px;
	background-color:aliceblue;
	padding:2px;
	width:420px;
	border:1px solid black;
	font-size:15px;
}
.dcontrol {
	display:none;
}
.dButtons {
    position: absolute;
    top: 132px;
    clear: both;
    margin: 0px auto;
    width: 600px;
}
.dButtons button, .dButtonsReview button {
	margin:3px auto;
} 

.dButtonsReview {
    position: relative;
    top: 10px;
    clear: both;
    margin: 0px auto;
    width: 600px;
}

.dButtonsReview #bElteres {
	background-color:orange;
	border:1px solid orange;
	color:black;
	width:150px;
	font-size:16px;
}
#divreview {
	display:none;
	width:100%;
	position:relative;
	top:0px;
	height:100%;
}
#divhiany {
	position: relative;
    left: 347px;
    width: 170px;
    top: 14px;
}
.labelHiany{
	background-color: yellow;
    padding: 5px;
    width: 121px;
    position: absolute;
}
.dataHiany {
	background-color: yellow;
    padding: 5px;
    width: 20px;
    position: absolute;
    left: 134px;
    text-align: center;
}
.divreviewLeft{
	position:relative;
	top:5px;
	/*left:10px;*/
	background-color:#f1f1f1;
	width:68px;
	border-right:1px dashed black;
	
}
.divReviewTables {
	height:182px;
}
.divreviewRight {
	position:absolute;
	top:5px;
	left:69px;
	background-color:white;
	width:442px;
}
.tableReviewFilter {
	display:block;
	height: 182px;
	overflow-y: scroll;
	font-size:17px;
	position:relative;
	left:2px;
	width:72px;
}
.divTableReview{
	position:relative;
	height:182px;
}
.tableReview{
	display:block;
	height: 178px;
	overflow-y: scroll;
	font-size:14px;
	position:relative;
	left:5px;
	width:430px;
	top:2px;
}

#divreview  table tbody {
	overflow:auto;
}

#divreview  table th {
	border-bottom:1px solid orange;
}

#divreview table td {
	padding:10px;
	text-align:center;
}
.tableReview th{
	font-size:14px;
}
.tdrsz {
	width:120px;
}
.tdhkod {
	width:100px;
}
.tmibiz {
	width:65px;
}

.rowhighlighted {
	padding:10px;
	text-align:center;
	background-color:#66CC66;
}
.rowhighlighted_notfound {
	padding:10px;
	text-align:center;
	background-color:red;
}



.divReviewFilter {
    position: absolute;
    left: 370px;
    top: 10px;
    color: white;
    width: 75px;
    font-size: 15px;	
}


#bMenu {
/*	padding:10px 20px; */
}
#divgpanel {
	display:none;
	z-index:100;
}
#divGPOptions {
	display:none;
	position: absolute;
    height: 300px;
    width: 550px;
    background-color: black;
    z-index: 1;	
}
#divGPOptions button{
	margin-bottom:5px;
}

#gpMarkaA,#gpMeretA,
#gpMarkaB,#gpMeretB,
#gpMarkaP,#gpMeretP,
#gpFelnitip {
	width:120px;
}
#gpMintaA,#gpMintaB,#gpMintaP{
	width:160px;
}
#gpSIA,#gpSIB,#gpSIP {
	width:50px;
}
#divgpanel select {
	margin:2px 0px;
	padding:10px 3px;
	font-size: 15px;
	-webkit-appearance: menulist-text;
}
.labelGP {
    float: left;
    padding: 10px;
    background-color: #f1f1f1;
    width: 25px;
    text-align: center;
    margin-top: 2px;
    height: 23px;
}
.labelGPdb {
    position: absolute;
    padding: 10px;
    background-color: #f1f1f1;
    width: 25px;
    text-align: center;
    margin-top: 2px;
    height: 23px;
    top: 173px;
    left: 178px;
}
#gpFelnidb {
	position: absolute;
    width: 75px;
    text-align: center;
    margin-top: 2px;
    top: 173px;
    left: 223px;

}

/* hkod,rsz container */
.dhkodrsz {
    position: relative;
    width: 511px;
    height: 41px;
}
/* hkod,rsz container eddig */

/* hkod */
.dhkod {
    position: relative;
    width: 175px;
    height: 41px;
	float: left;
}

#labelHkod {
    float: left;
    position: relative;
    /* display: block; */
    padding: 10px;
    background-color: #f1f1f1;
    width: 51px;
    text-align: center;
    margin: 2px 4px 2px 0px;
    /* height: 19px; */
    /* top: 10px; */
    /* left: 23px; */
}
/*#dataHkod {
	position: relative;
    float: left;
    padding: 10px;
    background-color: white;
    width: 125px;
    text-align: center;
    
    height: 14px;
    
    font-size: 20px;
    margin: 1px 4px 0px 0px;
    font-weight: bold;
    
}
*/
#labelHkodVart {
    position: relative;
    float: left;
    padding: 10px;
    background-color: #ffffff;
    width: 76px;
    text-align: center;
    height: 16px;
    font-style: italic;
	font-weight:bold;
    margin: 2px 4px 2px 0px;
}

/* hkod eddig */

/* rendszam */
.drendszam {
	display: none;
    position: relative;
    width: 511px;
	height: 41px;
    /* text-align: center; */
    /* margin-top: 2px; */
    /* top: 126px; */
    /* left: 2px; */
    /* height: 20px; */

}
#labelRendszam {
    position: relative;
    float: left;
    padding: 10px;
    background-color: #f1f1f1;
    width: 62px;
    text-align: center;
    margin-top: 2px;
    height: 16px;
    /* left: 31px; */
    font-size: 13px;
    /* top: 69px; */
    margin: 2px 4px 2px 0px;	
}
#dataRendszam {
    position: relative;
    float: left;
    padding: 10px;
    background-color: white;
    width: 132px;
    text-align: center;
    margin-top: 1px;
    height: 14px;
    /* top: 69px; */
    /* left: 114px; */
    font-size: 20px;
    font-weight: bold;
    margin: 1px 4px 0px 0px;
}
#labelRendszamVart {
    position: relative;
    float: left;
    padding: 10px;
    background-color: #f1f1f1;
    width: 70px;
    text-align: center;
    margin-top: 2px;
    height: 16px;
    /* left: 265px; */
    font-style: italic;
    font-size: 13px;
    /* top: 69px; */
    margin: 2px 0px 2px 0px;
}
#bNincs {
    position: relative;
    margin-top: 4px;
    width: 127px;
    padding-left: 10px;
    padding-right: 10px;
}
#bEllenorzes{
    width: 127px;
    padding-left: 10px;
    padding-right: 10px;
}
#drszadatok {
	
}
#dmeretminta,#dtelep{
    background-color: #D4D4D4;
    width: 501px;
    padding: 5px;
    float: left;
    position: relative;
    height: 15px;
	font-weight:bold;
    margin-bottom:2px;
}
/* rendszam eddig */

/* altalanos */
#divaltalanos {
	position: relative;
    width: 520px;
    margin-top: 0px;
    height: 36px;
    padding: 5px 0px;
}
/* altalanos / sofor */
#divsofor {
    height: 35px;
    /* position: relative; */
    float: left;
    width: 206px;
}

#labelSofor {
    position: relative;
    padding: 10px;
    background-color: #f1f1f1;
    height: 16px;
    /* top: 10px; */
    /* left: 23px; */
    text-align: center;
    width: 50px;
	float:left;
}
#dataSofor {
    position: relative;
    padding: 10px;
    background-color: #D4D4D4;
    width: 112px;
    /*left: 107px;*/
    font-weight: bold;
    /*top: -36px;*/
    text-align: center;
    height: 16px;
	float:left;
	margin-left:1px;
}
/* altalanos / sofor eddig */

/* altalanos / jarat */
#divjarat {
    height: 35px;
    /* position: relative; */
    float: left;
    width: 152px;
    /*margin-left: 10px;*/
	
}
#labelJarat {
    /* position: relative; */
    padding: 10px;
    background-color: #f1f1f1;
    height: 16px;
    /* top: 10px; */
    /* left: 23px; */
    text-align: center;
    width: 50px;
	float:left;
}
#dataJarat {
    position: relative;
    padding: 10px;
    background-color: #D4D4D4;
    width: 60px;
    /*left: 84px;*/
    font-weight: bold;
    /*top: -36px;*/
    text-align: center;
    height: 16px;
	float:left;
	margin-left:1px;
}
/* altalanos / jarat eddig */
/* altalanos / raktar */
#divraktar {
    height: 35px;
    /* position: relative; */
    float: left;
    width: 153px;
    margin-left: 2px;
	
}
#labelRaktar {
    /* position: relative; */
    padding: 10px;
    background-color: #f1f1f1;
    height: 16px;
    /* top: 10px; */
    /* left: 23px; */
    text-align: center;
    width: 50px;
	float:left;
}
#dataRaktar {
    position: relative;
    padding: 10px;
    background-color: #D4D4D4;
    width: 60px;
    /*left: 84px;*/
    font-weight: bold;
    /*top: -36px;*/
    text-align: center;
    height: 16px;
	float:left;
	margin-left:1px;
}
/* altalanos / raktar eddig */
/* altalanos eddig */
/* cimke panel */
#divcimke {
	display:none;
	width:100%;
	position:relative;
	top:0px;
	height:100%;
}
#divcimke div{
	width: 200px;
    float: left;
	margin-left:25px;
}
#dcimkebuttons {
    width: 507px !important;
}
#bCimkeClose {
    margin-left: 50px;
}

.bcimkeprint {
	
}
#teleplist {
    display:none;
}
/* cimke panel eddig */
/*
::-webkit-scrollbar {
    width: 32px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
*/



