body{
	font-family:Verdana;
	background-color:black;
}
#divContent {
	display:none;
}


button {
	background-color:#77b55a;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	font-weight:bold;
	border:1px solid #77b55a;
	margin-bottom:5px;
}
button:active {
	position:relative;
	top:1px;
}
button:disabled {
	background-color:#dfdfdf;
	color:#000000;
	/*border:1px solid #dfdfdf;*/
}
select {
	margin:2px 0px;
	padding:10px 15px;
	font-size: 20px;
	-webkit-appearance: menulist-text;
}
/* uzenet panel */
#dmsg {
    display: none;
    position: absolute;
/*
    top: 35px;
    left: 280px;
*/
	top: 45%;
    left: 30%;
    height: 40px;
	line-height:40px;
    min-width: 240px;
	max-width: 340px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 3px solid red;
    padding: 5px;
    z-index: 100;
    font-size: 15px;
}
.msgtxt {
	line-height:normal;
	display:inline-block;
	vertical-align:middle;s
}
/* uzenet panel eddig */
